.abrevi {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.abrevi h1{
    width:300px;
    background-color:black;
    text-align: center;
    border-radius: 20px;
    font-size:30px;
    font-weight:400;
    font-family: sans-serif;
    margin:20px 0;
    color: white;
  
}

#cards{
    flex-wrap: wrap;
    gap: 10px 20%;
}