*{
    border:none !important;
}


.card{
    width:100%;
    height:auto;
    margin:60px 0;
    border-radius: 20px;
    background-color: rgb(46, 130, 255);
    color:white;
    }
    .nome{
        width:400px;
        background-color:#2FCCC3 !important;
        border-radius: 20px;
        text-align: center;
        font-size:30px;
        margin-left:auto;
        margin-right:auto;
        font-family: sans-serif;
        font-weight:100;
        padding-bottom:5px;
        }
        .cardinfo p{
       width:30%;
       margin-left:auto;
       margin-right:auto;
            
        }

    .pertence{
    margin:10px auto;
    width:80%;
    height:auto;
    text-align:center;
    }
    .pertence h3{
    width:400px;
    background-color:#2FCCC3 !important;
    border-radius: 20px;
    text-align: center;
    font-size:30px;
    margin-left:auto;
    margin-right:auto;
    font-family: sans-serif;
    font-weight:100;
    padding-bottom:5px;
    }
    .pertence p{
        text-align: center;
        font-size:20px;
        padding-left:auto;
        padding-right:auto;
        font-family: sans-serif;
        padding:30px 0;
        
        }


        .quantas{
       
            margin:10px auto;
            width:80%;
            height:auto;
            text-align:center;
           
            }

            
        .quantas h3{
            background-color:#2FCCC3 !important;
            border-radius: 20px;
            width:400px;
            text-align: center;
            font-size:30px;
            margin-left:auto;
            margin-right:auto;
            font-family: sans-serif;
            font-weight:100;
            padding-bottom:5px;
            }

            
        .quantas p{
           
            text-align: center;
            font-size:20px;
            padding-left:auto;
            padding-right:auto;
            font-family: sans-serif;
            padding:30px 0;
           
            
            }
            .queriratela{
                margin:10px auto;
                width:80%;
                height:auto;
                text-align:center;
                
            }
            .queriratela h3{
                background-color:#2FCCC3 !important;
                border-radius: 20px;
                width:400px;
                text-align: center;
                font-size:30px;
                margin-left:auto;
                margin-right:auto;
                font-family: sans-serif;
                font-weight:100;
                padding-bottom:5px;
              
                }
                .Sim{
                    background-color:white!important;
                    width:80px;
                    height:30px;
                    margin-left:auto;
                    margin-right:auto;
                    margin-top: 20px;
                    border-radius: 20px;
                }
                .Sim a{
                    text-decoration: none;
                    color:black;
                   
                
                }
                .cardinfo p{
                    padding:30px 0;
                }
                .comentariosss h1{
                    background-color: black;
                    width:250px;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 20px;
                    margin-top: 40px;
                    padding-bottom: 20px;
                    font-family: sans-serif;
                   font-size: 20px;
                   padding-top: 15px;

                }
                