.formu{
    background-color: rgb(46, 130, 255);
margin-top:50px;
padding-top:30px;
}
.ema1 input{
    height: 50px;
   margin-bottom: 20px;;
   flex-direction: column;
   width:500px;
   align-items: center;
   align-self: center;
   justify-content: center;
   border-radius: 20px;

}
.come1 input{
    height: 100px;
    margin-bottom: 20px;
    flex-direction: column;
    width:800px;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 20px;
}
.botao1 input{
    border-radius: 20px;
    height:35px;
    color:white;
    margin-top:20px;
    margin-bottom:30px;
    background-color: black;
}
.feed{
    color:white;
    background-color: black;
    width: 500px;
    height:60px;
    border-radius:30px;
    margin-left:auto;
    margin-right: auto;
    align-items:center;
    justify-content: center;
    margin-bottom: 50px;
}
.message{
    color:white;
}


