.superior{
    display:flex;
    padding:30px 3%;
    height:141px;
    background-color: #C4C4C4;
}
.superior h1{
    font-size:70px;
    letter-spacing: 15px;
    font-weight: 10;
    padding-right: 80px;
}
.superior ul{
    display:flex;
    font-size:23px;
    gap:15px;
    letter-spacing: 5px; 
   
}
.superior ul li a{
    text-decoration: none;
    color:black;
    
}
.superior ul li a:hover{
    border-bottom: 2px solid black;
}

.superior ul li{
    list-style: none;
    padding-top:48px;
    font-weight:400;
}
.superior input{
    border: 0;
    width:40%;
    height:27px;
    margin-top:53px;
    margin-left: 30px;
    border-radius: 20px;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline:0;
}
::placeholder{
    color:black;
    font-family: sans-serif;
    padding:0 7px;
}
.superior img{
    width:13px;
    height:13px;
    margin:60px 20px;
}