.search input{
    border: 0;
    width:40%;
    height:27px;
    margin-top:53px;
    margin-left: 30px;
    border-radius: 20px;
    border-color:black;
}
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline:0;
}
.placeholder{
    color:black;
    font-family: sans-serif;
    font-weight:lighter;
}