.aba{
    display: flex;
    flex-wrap: wrap;
    border:1px solid black;
    padding: 10px 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-self: center;
}
.aba input{
    border:1px solid black;
    background-color:  rgb(46, 130, 255);
    width:300px;
    margin-bottom: 30px;
    height:30px;
    padding: 0 10px;;
    border-radius: 20px;
    color:white;

}
.aba ::placeholder{
    font-size: 20px;
    color:white;
}
 